services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    volumes:
      - ./app/src:/app/src
    environment:
      - NODE_ENV=development
      - PORT=3000
