services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "4000:4000"
    volumes:
      - ./backend/src:/app/src
    environment:
      - NODE_ENV=development
      - PORT=4000
